Text-Xslate-*
.*
!.appveyor.yml
!.gitignore
!.shipit
!.proverc
!.travis.yml
*~
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.yml
MYMETA.*
inc/
*.out
*.bak
ppport.h
xshelper.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
*.c
*.txc
*.ttc
*.cache
xslate_ops.h
lib/Text/Xslate/PP/Const.pm
/Build
/_build
/lib/Text/Xslate.xs
/src/xs_version.h
