Text-Xslate-*
.*
!.gitignore
!.shipit
!.proverc
*~
*.o
*.obj
*.bs
*.def
Makefile*
!Makefile.PL
*blib
META.yml
MYMETA.*
inc/
MANIFEST
*.out
*.bak
ppport.h
xshelper.h
nytprof*
cover_db*
*.gcda
*.gcno
*.gcov
*.stackdump
*.c
*.txc
*.ttc
*.cache
xslate_ops.h
lib/Text/Xslate/PP/Const.pm
